<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF -8" />
  <title>Desarrollo y Soporte</title>
  <link rel="shortcut icon" href="/assets/icon/us.png" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="../static/style.css" />
</head>

<body>
  <header class="container-nav">
    <nav class="navbar">
      <a href="../index.html" class="brand">La Web de los Devs</a>
      <ul class="nav-links">
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="about.html">Nosotros</a></li>
        <li><a href="services.html">Servicios</a></li>
        <li><a href="contact.html">Contacto</a></li>
      </ul>
    </nav>
    <button class="button-menu-toggle">Menu</button>
  </header>

  <main>
    <div id="image-container" class="centered-images">
      <div class="nosotros" id="nuestra-empresa">
        <h2>Nuestra Empresa</h2>
        <p>
          En TechNovate Solutions, nos enorgullecemos de ser un líder innovador
          en el ámbito del desarrollo Full-Stack. Desde nuestros comienzos, nos
          hemos comprometido a proporcionar soluciones tecnológicas integrales
          que no solo cumplen con las expectativas de nuestros clientes, sino
          que las superan. Nuestra misión es transformar ideas visionarias en
          realidades tangibles mediante la utilización de las últimas
          tecnologías y metodologías de desarrollo.
        </p>

        <img src="/img/giant-building.jpg" alt="Imagen 1" class="transition-image">
      </div>

      <div class="nosotros" id="nuestros-servicios">
        <h2>Nuestros Servicios para Desarrolladores Full-Stack</h2>
      </div>

      <div class="nosotros" id="desarrollo-web">
        <h3>Desarrollo Web</h3>
        <p>
          Ofrecemos servicios de desarrollo web completos que cubren desde la
          creación de atractivas interfaces de usuario hasta la implementación
          de robustas funcionalidades de servidor. Ya sea que necesites un
          sitio web simple o una compleja aplicación web, nuestro equipo tiene
          la experiencia para entregarte una solución que sea tanto
          visualmente impresionante como funcionalmente poderosa.
        </p>
        <img src="/img/programming.jpg" alt="Imagen 2" class="transition-image">
      </div>

      <div class="nosotros" id="desarrollo-movil">
        <h3>Desarrollo de Aplicaciones Móviles</h3>
        <p>
          En la era móvil, tener una aplicación que refleje la calidad de tu
          negocio es esencial. Nuestros desarrolladores Full-Stack crean
          aplicaciones móviles nativas y multiplataforma que son intuitivas,
          rápidas y seguras, asegurando una experiencia de usuario excepcional
          en todos los dispositivos.
        </p>
        <img src="/img/quality-control.jpg" alt="Imagen 3" class="transition-image">
      </div>

      <div class="nosotros" id="integracion-sistemas">
        <h3>Integración de Sistemas</h3>
        <p>
          La integración eficiente de sistemas es crucial para el
          funcionamiento fluido de cualquier empresa. Nos especializamos en
          conectar diversos sistemas y plataformas para crear un ecosistema
          digital cohesivo. Desde API hasta bases de datos, nos aseguramos de
          que todos los componentes de tu infraestructura tecnológica trabajen
          en perfecta armonía.
        </p>
        <img src="/img/rear-view-programmer.jpg" alt="Imagen 4" class="transition-image">
      </div>

      <div class="nosotros" id="porque-elegirnos">
        <h3>¿Por Qué Elegirnos?</h3>
        <p>
          <strong>Experiencia y Conocimiento:</strong> Con años de experiencia
          en el sector y un equipo de expertos dedicados, somos capaces de
          afrontar cualquier desafío tecnológico.
        </p>
        <p>
          <strong>Enfoque Personalizado:</strong> Entendemos que cada proyecto
          es único. Adaptamos nuestras soluciones para satisfacer tus
          necesidades específicas.
        </p>
        <p>
          <strong>Innovación Constante:</strong> Nos mantenemos al día con las
          últimas tendencias y tecnologías para ofrecerte siempre lo mejor.
        </p>
        <p>
          En TechNovate Solutions, estamos listos para ser tu socio
          tecnológico de confianza. Juntos, podemos construir el futuro digital
          que imaginas. Contáctanos hoy mismo para descubrir cómo podemos
          ayudarte a alcanzar el éxito.
        </p>
        <img src="/img/servers-cloud.jpg" alt="Imagen 5" class="transition-image">
      </div>

    </div>

  </main>

  <script src="/static/script.js"></script>

  <footer class="footer">
    <div class="social-icons">
      <a href="https://www.facebook.com/tuPerfil" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.twitter.com/tuPerfil" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/tuPerfil" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/tuPerfil" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <button onclick="showAlert()" aria-label="Haz clic en mí">
      ¡Haz clic en mí!
    </button>
  </footer>
</body>

</html>