<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF -8" />
  <title>Desarrollo y Soporte</title>
  <link rel="shortcut icon" href="/assets/icon/servicio.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="../static/style.css" />
</head>

<body>
  <div class="container-nav">
    <nav class="navbar">
      <a href="../index.html" class="brand">La Web de los Devs</a>
      <ul class="nav-links">
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="about.html">Nosotros</a></li>
        <li><a href="services.html">Servicios</a></li>
        <li><a href="contact.html">Contacto</a></li>
      </ul>
    </nav>
    <button class="button-menu-toggle">Menu</button>
  </div>
  <section class="contenedor-servicios">
    <h1>Servicios de Desarrollo Front End</h1>

    <div class="lista-servicios">
      <div class="servicio">
        <img src="../img/lap.jpg" alt="Servicio 1" width="50%" height="50%">
        <h2>Diseño de interfaces web</h2>
        <p>Creación de interfaces web atractivas y fáciles de usar, optimizadas para diferentes dispositivos.</p>
        <a href="http://www.google.com" class="boton-leer-mas">Leer más</a>
      </div>

      <div class="servicio">
        <img src="../img/desk.jpg" alt="Servicio 2" width="50%" height="50%">
        <h2>Desarrollo de aplicaciones web</h2>
        <p>Construcción de aplicaciones web dinámicas y escalables, utilizando las últimas tecnologías.</p>
        <a href="http://www.google.com" class="boton-leer-mas">Leer más</a>
      </div>

      <div class="servicio">
        <img src="../img/p7.jpg" alt="Servicio 3" width="50%" height="50%">
        <h2>Integración de tecnologías</h2>
        <p>Implementación de herramientas y frameworks populares, como JavaScript, React, Angular y Vue.js.</p>
        <a href="http://www.google.com" class="boton-leer-mas">Leer más</a>
      </div>

      <div class="servicio">
        <img src="../img/p6.jpg" alt="Servicio 4" width="50%" height="50%">
        <h2>Optimización para SEO</h2>
        <p>Mejora del posicionamiento web de tu sitio para una mayor visibilidad en los buscadores.</p>
        <a href="http://www.google.com" class="boton-leer-mas">Leer más</a>
      </div>

      <div class="servicio">
        <img src="../img/p8.jpg" alt="Servicio 5" width="50%" height="50%">
        <h2>Mantenimiento de sitios web</h2>
        <p>Actualización y corrección de errores de tu sitio web para garantizar su buen funcionamiento.</p>
        <a href="http://www.google.com" class="boton-leer-mas">Leer más</a>
      </div>

      <div class="servicio">
        <img src="../img/joys.jpg" alt="Servicio 6" width="50%" height="50%">
        <h2>Soporte técnico</h2>
        <p>Asistencia y resolución de problemas relacionados con tu sitio web o aplicación web.</p>
        <a href="http://www.google.com" class="boton-leer-mas">Leer más</a>
      </div>
    </div>
  </section>

  <script src="/static/script.js"></script>

  <footer class="footer">
    <div class="social-icons">
      <a href="https://www.facebook.com/tuPerfil" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.twitter.com/tuPerfil" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/tuPerfil" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/tuPerfil" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    </div>

    <button onclick="showAlert()" aria-label="Haz clic en mí">
      ¡Haz clic en mí!
    </button>
  </footer>
</body>

</html>